.content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width:100% !important;
}

a {
    text-decoration: none;
}


@media  screen and (max-width: 900px) {
    .content-container {
        flex-direction: column;
    }
}

